.details-wrapper {
  width: 100%;
  height: 100%;
  font-family: var(--font-family);
  color: white;
  overflow: hidden;
  font-size: 16px;
}

.detail-hero {
  position: relative;
  width: 100%;
  height: 470px;
}

.hero-img {
  position: absolute;
  top: 0;
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.hero-shadow {
  position: absolute;
  top: 48%;
  height: 250px;
  width: 100%;
  background-image: linear-gradient(to top, #181818, transparent 50%);
}

.details-wrapper .banner_btn_1 {
  position: absolute;
  top: 77%;
  left: 6%;
  min-height: 32px;
  max-height: 42px;
}
.details-header {
  display: flex;
  width: 35%;
  padding: 30px 0 30px 0;
  justify-content: flex-start;
  align-items: center;
}
.details-header p {
  margin-right: 15px;
}

.details-header .rate {
  border: gray solid 1px;
  padding: 3px;
}

.episodeSelector-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.details-wrapper .description {
  width: 60%;
  margin-bottom: 20px;
}

.body-wrapper {
  margin: 0 50px 0 50px;
}
