.row-posters {
  position: relative;
}

.mini-window {
  position: absolute;
  top: -30%;
  background-color: #181818;
  z-index: 10000;
  width: 327px;
  height: 347px;
  max-width: 280px;
  border-radius: 6px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.75);
  /* transition: transform 500ms ease;
    -o-transition:height .2s ease-in-out */
}

/* .card_wrapper:hover .modal-window{
      transform: scale(100%);
  } */
