.player{
    height: 100vh;
}

.player_wrapper{
    position: relative;
    height: 100vh;
}

.player_wrapper svg{
    position: absolute;
    top: 10%;
    left: 5%;
    color: white;
    font-size: 50px;
    transition: opacity 500ms linear 0s;
    cursor: pointer;
    
}